<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Cookie|Sacramento&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/style.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">DAILY JOURNAL</p>
      </div>
        <ul class="nav navbar-nav navbar-right">

        </ul>
    </div>
  </nav>
<div class="middle">
  <h2>Whether you’re looking for a tool to record your daily emotions and activities in a reflective journal or keep track of milestones in a food diary </h2>
  <br>
  <h2> This Daily Journal has you covered .</h2>

</div>

<div style="text-align:center;">
<a href="login"><button type="button" class="btn btn-default btn-lg l" >Get started now!!</button></a>
</div>
  <div class="footer-padding"></div>
    <div class="footer">
      <p>Made with ❤️</p>
    </div>
  </div>
  </body>
  </html>

  <body>
    <div class="container">
