<%- include('partials/header');-%>
<h1>COMPOSE</h1>
<form class="" action="/compose" method="post">
  <div class="form-group">
    <label for="title" placeholder="">Title</label>
  <input type="text"class="form-control" name="pt" >

  <label for=""  placeholder="">Post</label>
  <textarea class="form-control" rows="8" cols="80" name="pb"></textarea>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
<%-include('partials/footer');-%>
