<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Daily Journal</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans|Ubuntu&display=swap" rel="stylesheet">
    <link href="/css/style1.css" rel="stylesheet">
</head>
<body class="text-center">
    <form class="form-signin" method="post">
      <td>
        <h1>Get Started</h1>
        <br><br><br>
        <h2>Login today , to get your personal journal.</h2>
        <br><br><br>

        <label for="Name" class="sr-only" >Name</label>
        <input type="text" name="name" value="" class="form-control" placeholder="Name" >

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus name="em">

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="pass">
        <div class="checkbox mb-3">
        
        </div>
        <button onclick="myFunction()" class="btn btn-lg btn-primary btn-block" type="submit" name="s">Sign in</button>
        <script>
        function myFunction() {
          alert("Hello!, Welcome to your personal journal.);
        }
        </script>
    </form>
    <div class="footer-padding"></div>
      <div class="footer">
        <p>Made with ❤️</p>
      </div>
    </div>
</body>

</html>
